# Created by .ignore support plugin (hsz.mobi)
.idea/CompGraf_aufg_1.iml
.idea/inspectionProfiles/
.idea/markdown-navigator.xml
.idea/markdown-navigator/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
venv/include/
